<h1>Welcome to honest John's used car dealership!</h1>
<form action="/cars_added" method="post">
  <h2>Use the form below to add new car</h2>
  <label for="model">Model</label>
  <input id="model" name="model" type="text">
  <label for="miles">Mileage</label>
  <input id="miles" name="miles" type="text">
  <label for="price">Price</label>
  <input id="price" name="price" type="text">
  <button type="submit">Submit</button>
</form>
