<h1>Inventory</h1>
<ul>
  @foreach(var car in Model)
  {
    <li><a href="/update_car/@car.GetId()">@car.GetModel(), @car.GetMiles() miles, $@car.GetPrice()</a></li>
  }
</ul>
<p><a href="/">Add another car</a></p>

<form action="/car_cleared" method="post">
  <button type="submit" name="button">Clear All Cars</button>
</form>
