<h1>Inventory</h1>
<ul>
  @foreach(cars car in Model)
  {
    <li>@car</li>
  }
</ul>
<p><a href="/">Add another car</a></p>

<form action="/car_cleared" method="post">
  <button type="submit" name="button">Clear All Cars</button>
</form>
